torch
torchvision
torchaudio
git+https://github.com/jquesnelle/transformers@flash-4.28.1
git+https://github.com/jquesnelle/peft@lora-match-tensor
accelerate
sentencepiece
ftfy
ninja
protobuf==3.19.6
datasets
evaluate