tqdm
rotary_embedding_torch
tokenizers
transformers
inflect
progressbar
einops
unidecode
scipy
librosa
ffmpeg
numpy
numba
torchaudio
threadpoolctl
appdirs
soundfile
git+https://github.com/neonbjb/tortoise-tts/